.coloringContainer {
  width: 100%;
  display: table;
}
.control-left, .controls-right, .art {
  display: table-cell;
  vertical-align: top;
}
canvas {
  cursor: url(../images/cursor.png), none;
  background: #fff;
}
.controlList {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}
.controls-zoom {
  -webkit-appearance: slider-vertical;
  width: 20px;
  height: 100px;
  margin: 15px 0 15px 13px;
}
.sizeList li {
  display: inline-block;
}
.controls-right button {
  float: right;
}
.controlList button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 0 10px 10px 0;
  border: 5px solid #222;
  box-shadow: inset -10px -8px 0px rgba(0,0,0, .2);
  position: relative;
  outline: none;
  cursor: pointer;
}
.art {
  .controlList {
	float: none;
  }
  text-align: center;
}
.controls-colorSelector.active, .controls-sizeSelector.active
.controls-clear:active {
  border: 5px solid #fff;
  box-shadow: 0 0 5px rgba(0,0,0,1);
}
.controls-sizeSelector.active {
  background: #fff;
}
.red {
  background: #c00d0d !important;
}
.orange {
  background: #eaa000 !important;
}
.yellow {
  background: #fefb20 !important;
}
.lgreen {
  background: #bafb3b !important;
}
.dgreen {
  background: #0ab40e !important;
}
.lblue {
  background: #3bd0fb !important;
}
.dblue {
  background: #2f33d7 !important;
}
.purple {
  background: #ac3bfb !important;
}
.white {
  background: #ffffff !important;
}
.grey {
  background: #b8b8c1 !important;
}
.black {
  background: #3a3a3a !important;
}
.skin1 {
  background: #eddc8e !important;
}
.skin2 {
  background: #cac498 !important;
}
.skin3 {
  background: #584f31 !important;
}
.direction {
  position: relative;
  button {
	border-radius: 0;
	margin: 0;
	position: absolute;
  }
  button:after {
	font-family: ldsicon;
	position: absolute;
	font-size: 27px;
	top: 7px;
	left: 7px;
  }
  .controls-panUp {
	top: 0;
  }
  .controls-panLeft {
	top: 45px;
	left: -22px;
  }
  .controls-panRight {
	top: 45px;
	left: 22px;
  }
  .controls-panDown {
	top: 90px;
  }
  .controls-panUp:after {
	content: "\2329";
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
  }
  .controls-panLeft:after {
	content: "\2329";
  }
  .controls-panRight:after {
	content: "\2329";
	-webkit-transform: rotate(180deg);
  }
  .controls-panDown:after {
	content: "\2329";
	-webkit-transform: rotate(-90deg);
  }
}
.controls-sizeSelector:after {
  content: "";
  width: 42px;
  display: block;
  position: absolute;
  background: #222;
}
.small:after {
  height: 3px;
  left: 0px;
  top: 18px;
}
.normal:after {
  height: 7px;
  left: 0px;
  top: 16px;
}
.large:after {
  height: 12px;
  left: 0px;
  top: 14px;
}
.huge:after {
  height: 19px;
  left: 0px;
  top: 10px;
}
.controls button {
  position: relative;
}
.controls-clear:after {
  font-family: ldsicon;
  content: "\2613";
  position: absolute;
  font-size: 27px;
  top: 7px;
  left: 7px;
}
.controls-fullScreen:after {
  content: "F";
  position: absolute;
  top: -1px;
  left: 10px;
  font-size: 31px;
}
.controls-print:after {
  font-family: ldsicon;
  content: "\2399";
  position: absolute;
  font-size: 27px;
  top: 7px;
  left: 7px;
}
.controls-sound:after {
  font-family: ldsicon;
  content: "\2604";
  position: absolute;
  font-size: 27px;
  top: 7px;
  left: 7px;
}
@media screen and (max-width: 925px) {
  .coloringContainer {
	display: block;
  }
  .controls-left, .art {
	display: block;
  }
  .art {
	text-align: left;
  }
  .controls-left:after, .art:after, .controls-right:after {
	content: "";
	display: table;
	clear: both;
  }
  .controlList li {
	display: inline-block;
  }
  .controls-zoom {
	-webkit-appearance: slider-horizontal;
	width: 100px;
	height: auto;
	margin: -20px 40px 0 10px;
	position: relative;
	top: -25px;
  }
  .controls-right {
	display: table;
	height: 130px;
	li {
	  margin-top: 40px;
	}
  }
  .direction {
	top: -95px;
	margin-left: 20px;
  }
}
